{% extends "admin/change_list.html" %}
{% load adminmedia admin_list i18n %}
{% load url from future %}

{% block object-tools %}
{% if has_add_permission %}
<ul class="object-tools">
  {% block object-tools-items %}
  <li>
    <a href="import/" class="addlink">
      {% blocktrans %}Import template{% endblocktrans %}
    </a>
    <a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
      {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
    </a>
  </li>
  {% endblock %}
</ul>
{% endif %}
{% endblock %}
