{% extends "base.html" %}

{% block title -%}{{ _('Get Started') }} - {{ super() }}{% endblock title -%}

{% block header %}
<header class="busta">
  <h1 class="shout">Get started</h1>
</header>
{% endblock %}

{% block content %}
<div class="content_columns columns with_nav">
  <nav class="col box nav">
    <ul>
      <li><a{% if not category %} class="current wimper"{% endif %} href="{{ url('template_list') }}">All templates</a></li>
      {% if category_list %}
      {% for cat in category_list %}
      <li>
        <a{% if category == cat %} class="current wimper"{% endif %} href="{{ cat.get_absolute_url() }}">{{ cat.name }}</a><br>
      </li>
      {% endfor %}
      {% endif %}
    </ul>
  </nav>
  <div class="highlight col box main">
    {% if category %}
    <h2 class="{{category.slug }}">{{ category.name }}</h2>
    {% else %}
    <h2 class="all">All templates</h2>
    {% endif %}

    {% include "includes/order_form.html" %}

    {% include "includes/template_list.html" %}

  </div>
</div>
{% endblock content %}


{% if category %}<a class="cta" href="{{ url('project_category_join', slug=category.slug) }}">Join this Category</a>{% endif %}
