{% extends "base.html" %}
{% import "includes/tags.html" as tags %}

{% block title %}{{ template.name }} - {{ super() }}{% endblock title %}


{% block content %}
<div class="row-fluid">

  <div class="hero-unit span 12">
    <div class="span3">
      <h1>{{ template.name }}</h1>
      <br>
      <p>               <i class="icon-arrow-left"></i>   by <a href="{{ template.author.get_absolute_url() }}">{{ template.author.get_profile().display_name }}</a></p>
      <p>               <i class="icon-thumbs-up"></i>    {{ votes.score }} likes</p>

      <p class="toppad">{{ template.description }}<p>
        <a class="btn btn-success btn-larger" href="{{ template.get_template_url() }}">Make this!</a>
        <div class="vote">
          {% if user.is_authenticated() %}
          {% if user_vote and user_vote.is_upvote %}
          <form action="{{ url('vote', model='template', object_id=template.pk, direction='clear') }}" method="POST" id="user_vote">
            {{ csrf() }}
            <input type="submit" class="cancel cta do" value="{{ _('Clear my vote') }}" />
          </form>
          {% else %}
          <form action="{{ url('vote', model='template', object_id=template.pk, direction='up') }}" method="POST" id="user_vote">
            {{ csrf()|safe }}
            <input type="submit" class="thumb cta do" value="{{ _('Give this a thumbs up') }}" />
          </form>
          {% endif %}
          {% else %}
          <p>To upvote this submission, please login or register.</p>
          {% endif %}
        </div>
    </div>


    <div class="span8 well">
      <ul class="breadcrumb">
        <li>
          <a href="{{ url('template_list') }}">Templates</a> <span class="divider">/</span>
        </li>
        {% for category in template.categories.all() %}
        <li>
          <a href="{{ category.get_absolute_url() }}">{{ category.name }}</a> <span class="divider">/</span>
        </li>
        {% endfor %}
        <li class="active">{{ template.name }}</li>
      </ul>
      <div class="row-fluid">
        <div class="span12">
          <a href="{{ template.get_template_url() }}" class="thumbnail">
            {% if template.thumbnail  %}
            <img src="{{ thumbnail(template.thumbnail, (480, 270)) }}" alt=""  width="480" height="270" />
            {% else %}
            <img src="{{ STATIC_URL }}/images/popcorn-placeholder.png" alt="" width="480" height="270">
            {% endif %}
          </a>

          <div class="template-detail">
            <h2>{{ template.name }}</h2>
            <p class="project-desc">{{ template.description }} <a class="btn btn-success pull-right" href="{{ template.get_template_url() }}">make this</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="span9 pull-right">
      {% include "includes/comments.html" %}
    </div>
  </div>
</div>
{% endblock content %}


{# Missing content #}

<h1>Related Projects</h1>
{% set with_author = True %}
{# include "includes/project_list.html" #}

{{ tags.tag_list(tag_list) }}
