{% extends "base.html" %}
{% block title %}
Made with Popcorn - {{ super() }}
{% endblock title %}

{% block content %}
<h1>Made with Popcorn</h1>

{% if category %}
<h2>Category: {{ category.name }}</h2>
{% endif %}

{% for project in project_list %}
<section>
  <h1><a href="{{ project.get_absolute_url() }}">{{ project.name }}</a></h1>
  by <a href="{{ project.author.get_absolute_url() }}">{{ project.author.profile.display_name }}</a> on {{ project.created }}
  <p>{{ project.description }}</p>
</section>
{% endfor%}

<h2>Categories</h2>
{% for category in category_list %}
<div>
  <a href="{{ category.get_absolute_url() }}">{{ category }}</a>
</div>
{% endfor%}


{% endblock content %}
