{% extends "base.html" %}
{% import "includes/project_list.html" as project_macro %}

{% block title %}Made with Popcorn - {{ super() }}{% endblock title %}


{% block header %}
<header class="busta">
  <h1 class="shout">Made with Popcorn</h1>
  <div class="meta">
    <a class="cta" href="{{ url('template_list') }}">{{ _('Create project') }}</a>
  </div>
</header>
{% endblock %}


{% block content %}
<div class="content_columns columns with_nav">
  <nav class="col box nav">
    <ul>
      <li><a{% if not category %} class="current wimper"{% endif %} href="{{ url('project_list') }}">All projects</a></li>
      {% if category_list %}
      {% for cat in category_list %}
      <li>
        <a{% if category == cat %} class="current wimper"{% endif %} href="{{ cat.get_absolute_url() }}">{{ cat.name }}</a><br>
      </li>
      {% endfor %}
      {% endif %}
    </ul>
  </nav>
  <div class="highlight col box main">
    {% if category %}
    <h2 class="{{category.slug }}">{{ category.name }}</h2>
    {% else %}
    <h2 class="all">All ideas</h2>
    {% endif %}

    {% include "includes/order_form.html" %}

    {{ project_macro.project_list(project_list, request.user, with_author=True) }}

  </div>
  {% if category %}<a class="cta" href="{{ url('project_category_join', slug=category.slug) }}">Join this Category</a>{% endif %}
</div>
{% endblock %}
