{% extends "base.html" %}

{% block title %}Project: {{ project.name }} - {{ super() }}{% endblock title %}

{% block content %}
<h1>Project: {{ project.name }}</h1>
<p>{{ project.description }}</p>

<p>
{% if project.url %}
<a href="{{ project.url }}">{{ project.url }}</a>
{% else %}
<a href="{{ project.get_project_url() }}">{{ SITE_URL }}{{ project.get_project_url() }}</a>
{% endif %}

</p>

{% if project.thumbnail %}
<p><img src="{{ project.thumbnail.url }}" alt="" /></p>
{% endif %}

{% if request.user == project.author %}
<p><a href="{{ project.get_edit_url() }}" class="cta">{{ _('Edit your project') }}</a></p>
{% endif %}


{% endblock content %}
