{% extends "users/profile.html" %}
{% block title -%}
{{ _('Dashboard') }} : {{ profile.display_name }} - {{ super() }}
{% endblock title -%}

{% block content -%}
<h1>{{ _('Your Dashboard') }}</h1>
<img src="{{ profile.gravatar_url }}" alt="" />
<a href="{{ url('users_edit') }}">Edit your profile</a>
{% if profile.website %}
<a href="{{ profile.website }}">{{ profile.website }}</a>
{% endif %}
{% if profile.bio  %}
{{ profile.bio }}
{% endif %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<section>
  <h1>{{ _('Your Projects') }}</h1>
  <ul>
    {% for project in project_list %}
    <li>
      <a href="{{ project.get_absolute_url() }}">{{ project.name }}</a>
      {{ project.description }}
    </li>
    {% endfor%}
  </ul>
</section>

{% endblock -%}
