{% extends "users/profile.html" %}
{% import "includes/activity.html" as activity %}
{% import "includes/project_list.html" as project_macro %}

{% block title -%}{{ _('Dashboard') }}: {{ profile.display_name }} - {{ super() }}{% endblock title -%}

{% block content -%}
{% include "includes/user_bio.html" %}
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

{% include "includes/project_dashboard.html" %}

<h2 class="wimper">{{ _('Projects') }}</h2>
{{ project_macro.project_list(project_list, request.user) }}

{{ activity.activity(activity_list) }}

{% endblock -%}
