{% extends "base.html" %}
{% import "includes/activity.html" as activity %}

{% block title -%}{{ profile.display_name }} - Users - {{ super() }}{% endblock -%}

{% block content -%}

<div class="row-fluid">
  {% include "includes/user_bio.html" %}
</div>

<div class="row-fluid">
  <div class="span12">
    <h2 class="leftpad">My projects</h2>
    <br>
    {% include "includes/user_project_list.html" %}
    <p><a class="btn btn-success btn-large" href="{{ url('template_list') }}">New project ></a></p>
  </div><!--/row-->

</div><!--/row-->

{{ activity.activity(activity_list) }}
{% endblock content -%}
