{% extends "base.html" %}
{% import "includes/activity.html" as activity %}

{% block title -%}{{ profile.display_name }} - Users - {{ super() }}{% endblock -%}

{% block body_attributes %}id="user_profile" class="profile"{% endblock body_attributes %}

{% block content -%}
<div class="content_columns columns">
  <div class="col main box">
    {% include "includes/user_bio.html" %}
    <a href="{{ url('template_list') }}" class="cta">{{ _('Create an project') }}</a>
  </div>
</div>

<h2 class="wimper">{{ _('Projects') }}</h2>
{% include "includes/project_list.html" %}

{% endblock content -%}
