<hr>
<footer>
  <div id="footer">
    <div class="constrained">
      <h2><img src="{{ STATIC_URL }}img/footer_logo.png" alt="Mozilla Webmaker" width="129" height="39" /></h2>
      <div class="col">
        <h3>About</h3>
        <ul>
          <li><a href="{{ url('about') }}"> About Us</a></li>
          <li><a href="mailto:popcorn@mozilla.org">Contact Us</a></li>
          <li><a href="http://www.mozilla.org/en-US/privacy-policy.html">Privacy Policy</a></li>
          <li><a href="http://www.mozilla.org/en-US/about/legal.html">Legal Notices</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>Connect with Us</h3>
        <ul>
          <li><a href="http://twitter.com/mozilla/">Twitter</a></li>
          <li><a href="https://www.facebook.com/mozilla/">Facebook</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>Make Something!</h3>
        <ul>
          <li><a href="http://webmaker.org">Events</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
