<nav>
  <ul>
    <li><a href="{{ url('homepage') }}">Home</a></li>
    <li><a href="{{ url('template_list') }}">Get started</a></li>
    <li><a href="{{ url('project_list') }}">Made with Popcorn</a></li>
    {% if not user.is_authenticated() %}
    <li>
      <a class="browserid" id="browserid" href="{{ url('login') }}">Sign In</a>
      <form method="POST" action="{{ browserid_target }}">
        {{ csrf() }}
        {{ browserid_form.as_p() }}
      </form>
    </li>
    {% else %}
    <li>
      <a class="logout" href="{{ url('logout') }}">{{ _('Log out') }}</a>
    </li>
    {% endif %}
  </ul>
</nav>


