{% macro user_status(user, template, project=None) -%}
<div data-butter-exclude="true" id="butter-header">
  <div class="logo-drop"></div>
  <h1>Butter <sup style="text-decoration: underline;">0.3</sup></h1>

  {% if project %}{{ project.name  }}{% else %}{{ template.name }}{% endif %}
  <div class="editor-actions">
    <button id="butter-header-save" class="btn" title="Save your project"><i class="icon-ok-sign">Save</button>
    <button id="butter-header-export" title="View and copy the raw data for your project">Export</button>
    <button id="butter-header-share" title="Generate a link to share this project with the world">Share</button>
    {% if user.is_authenticated() %}
    <a href="{{ url('logout') }}">Logout</a>
    <button id="butter-header-auth-out" title="Logout">Logout</button>
    {% else %}
    <button id="butter-header-auth" title="Login using BrowserID authentication">Login / Sign Up</button>
    {% endif %}
    {% if project and user == project.author %}
    <a href="{{ url('user_project_edit', username=user.username, shortcode=project.shortcode) }}">Edit</a>
    {% endif %}
    {% if project and user == project.author %}
    <a href="{{ url('user_project_delete', username=user.username, shortcode=project.shortcode) }}">Delete</a>
    {% endif %}
  </div>
</div>
{%- endmacro %}
