<div class="hero-unit span 12">
  <div class="span5">
    <h1>{{ profile.display_name }}</h1>
    <img src="{{ profile.gravatar_url }}" width="80" height="80" style="padding-right:10px; padding-top: 10px;" class="pull-left">
    {% if profile.bio %}
    <p class="toppad"><em>{{ profile.bio }}</em></p>
    {% endif %}
    {% if profile.website %}
    <p class="toppad"><a href="{{ profile.website }}" class="url">{{ profile.website }}</a></p>
    {% if profile.user == request.user %}
    <a class="btn btn-success btn-larger" href="{{ url('users_edit') }}">Edit your profile!</a>
    {% endif %}
    {% endif %}
  </div>

  <div class="span7">
    <div class="textcenter">
      <!--
          <img src="img/popcornshot.png" class="center">                        -->
    </div><!--center-->
  </div>
</div>
