{% if project_list %}
<div class="row-fluid toppad">
  <div class="leftpad">

    {% for project in project_list %}
    <div class="span2">
      <div>
        <a href="{{ project.get_absolute_url() }}" class="thumbnail">
          {% if project.thumbnail %}
          <img src="{{ project.thumbnail.url }}" alt="" width="288" height="175">
          {% else %}
          <img src="http://placehold.it/288x175" alt="" width="288" height="175">
          {% endif %}
        </a>
        <h5 class="toppad">{{ project.name }}</h5>
        {% if request.user == project.author %}
        <a class="btn-mini" href="{{ project.get_edit_url() }}"><i class="icon-edit"></i>edit</a>
        {% endif %}
        {% if request.user == project.author or project.is_forkable %}
        <a class="btn-mini" href="{{ project.get_fork_url() }}"><i class="icon-road"></i>fork</a>
        {% endif %}
        {% if request.user == project.author %}
        <a class="btn-mini" href="{{ project.get_delete_url() }}"><i class="icon-warning-sign"></i>delete</a>
        {% endif %}
      </div>
    </div><!--/span-->
    {% endfor %}
  </div>
</div><!--/span-->
{% endif %}
