<!DOCTYPE html>{% import "includes/navigation.html" as navigation %}
<html>
  <head>
    <title>{% block title %}Popcorn Maker{% endblock title %}</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    {% block styles %}
    <link rel="stylesheet" media="screen,projection,tv" href="{{ MEDIA_URL }}ignite/css/normalise.css" />
    <link rel="stylesheet" media="screen,projection,tv" href="{{ MEDIA_URL }}ignite/css/devices.css" />
    <link rel="stylesheet" media="all and (min-width:30em)" href="{{ MEDIA_URL }}ignite/css/desktop.css" />
    <!--[if lt IE 9]>
        <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link rel="stylesheet" media="screen,projection,tv" href="{{ MEDIA_URL }}ignite/css/desktop.css" />
        <![endif]-->
    {% endblock styles %}
    <script type="text/javascript">
      window.STATIC_URL = '{{ STATIC_URL }}';
    </script>
    {% block scripts %}{% endblock scripts %}
  </head>
  <body>
    <header>
      {{ navigation.navigation(request.user) }}

      {% if not request.user.is_authenticated() %}
      <a id="browserid" href="#TODO">Sign In</a>
      <form method="POST" action="{{ url('browserid_verify') }}">
        {{ csrf() }}
        {{ browserid_form.as_p() }}
      </form>
      {% else %}
      Logged in as <a href="{{ url('users_dashboard') }}">{{ request.user.profile.display_name }}</a>.
      <a href="{{ url('logout') }}">Logout</a>
      {% endif %}
    </header>
    {% block content %}{% endblock content %}
    {# TODO: django browser ID requires jquery #}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    {{ browserid_form.media }}
  </body>
</html>
