<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Popcorn Maker{% endblock title %}</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  {% block styles %}{% endblock styles %}
  <script type="text/javascript">
    window.STATIC_URL = '{{ STATIC_URL }}';
  </script>
  {% block scripts %}{% endblock scripts %}
</head>
<body>
  <header>
    {% if not request.user.is_authenticated() %}
    <a id="browserid" href="#TODO">Sign In</a>
    <form method="POST" action="{{ url('browserid_verify') }}">
      {{ csrf() }}
      {{ browserid_form.as_p() }}
    </form>
    {% endif %}
  </header>
  {% block content %}{% endblock content %}
  {{ csrf_token }}
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  {{ browserid_form.media }}
</body>
</html>
